.nav-elements {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.nav-elements a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-elements a:hover {
    color: rgb(0, 102, 204);
}

.search-bar {
    color: black;
    background-color: white;
    width: 30vw;
    height: 6vh;
    border-radius: 20px;
    border: 1px solid rgba(0, 102, 204, 0.5);
    padding: 5px 15px;
    outline: none;
}

.link {
    color: black;
    text-decoration: none;
    transition: transform 0.3s;
}

.link:hover {
    transform: scale(1.1);
    color: rgb(0, 51, 153);
}

.active {
    transform: scale(1.2);
    display: inline-block;
    color: rgb(0, 51, 153);
}
.logo {
    width: 3em;
    height: 3em;
}

.logout {
    border: 1px solid rgb(0, 102, 204);
    border-radius: 20px;
    height: 2.5em;
    width: 8.5em;
    color: black;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.logout:hover {
    border: none;
    color: white;
    background-color: rgb(0, 102, 204);
}
.hero {
    text-align: center;
    margin-top: 50px;
}
.footer-container {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: end;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.footer-header {
    font-size: 2em;

}